<div
  class='cursor-default grid border-2 border-orange-400 rounded grid-cols-8 grid-rows-8 aspect-square'
  ...attributes
>
  {{#each this.emptyList as |rowItem row|}}
    {{#each this.emptyList as |colItem col|}}
      {{#let (this.getPiece row col) as |piece|}}
        <Square
          @c={{col}}
          @r={{row}}
          @highlightedSquares={{@highlightedSquares}}
          @orientation={{@orientation}}
          @selectedSquare={{@selectedSquare}}
          @select={{fn @selectSquare piece}}
          @onHover={{fn (mut @hoveredSquare)}}
          @onHoverOut={{fn (mut @hoveredSquare) null}}
        >
          {{#if piece}}
            <Piece @type={{get piece 'type'}} @color={{get piece 'color'}} />
          {{/if}}
        </Square>
      {{/let}}
    {{/each}}
  {{/each}}
</div>

{{yield}}