<div class='board'>
  {{#each this.emptyList as |rowItem row|}}
    <div class='row'>
      {{#each this.emptyList as |colItem col|}}
        {{#let (this.getPiece row col) as |piece|}}
          <Square
            @c={{col}}
            @r={{row}}
            @highlightedSquares={{this.highlightedSquares}}
            @orientation={{@orientation}}
            @selectedSquare={{this.selectedSquare}}
            @select={{fn this.selectSquare piece}}
            @onHover={{fn (mut this.hoveredSquare)}}
            @onHoverOut={{fn (mut this.hoveredSquare) null}}
          >
            {{#if piece}}
              <Piece @type={{get piece 'type'}} @color={{get piece 'color'}} />
            {{/if}}
          </Square>
        {{/let}}
      {{/each}}
    </div>
  {{/each}}
</div>

<p>{{this.hoveredSquare}}</p>
<p>Details: {{this.roomDetails.users.length}}</p>