<div
  class='cursor-default grid border-2 border-orange-400 rounded grid-cols-8 grid-rows-8 aspect-square'
>
  {{#each this.emptyList as |rowItem row|}}
    {{#each this.emptyList as |colItem col|}}
      {{#let (this.getPiece row col) as |piece|}}
        <Square
          @c={{col}}
          @r={{row}}
          @highlightedSquares={{this.highlightedSquares}}
          @orientation={{@orientation}}
          @selectedSquare={{this.selectedSquare}}
          @select={{fn this.selectSquare piece}}
          @onHover={{fn (mut this.hoveredSquare)}}
          @onHoverOut={{fn (mut this.hoveredSquare) null}}
        >
          {{#if piece}}
            <Piece @type={{get piece 'type'}} @color={{get piece 'color'}} />
          {{/if}}
        </Square>
      {{/let}}
    {{/each}}
  {{/each}}
</div>

<div>
  <dl class='grid gap-2 grid-rows-2'>
    <div
      class='flex p-2 rounded
        {{if (eq this.turn "w") "bg-green-400" "bg-gray-200"}}'
    >
      <dt class='flex items-center'>
        <Piece @type='n' @color='w' />

        Light
      </dt>
      <dd class='ml-2 flex justify-between items-center w-full'>
        {{this.roomDetails.w}}

        {{#if (eq this.me this.roomDetails.w)}}
          <span class='rounded-lg py-1 px-2 bg-green-700 text-white'>
            Me
          </span>
        {{/if}}
      </dd>
    </div>
    <div
      class='flex p-2 rounded
        {{if (eq this.turn "b") "bg-green-400" "bg-gray-200"}}'
    >
      <dt class='flex items-center'>
        <Piece @type='n' @color='b' />

        Dark
      </dt>
      <dd
        class='ml-2 flex justify-between items-center w-full'
      >{{this.roomDetails.b}}
        {{#if (eq this.me this.roomDetails.b)}}
          <span class='rounded-lg py-1 px-2 bg-green-700 text-white'>
            Me
          </span>
        {{/if}}
      </dd>
    </div>
  </dl>

  <p class='mt-2 text-gray-700'>{{this.hoveredSquare}}</p>

  {{yield}}
</div>