<div class='board'>
  {{#each this.emptyList as |rowItem row|}}
    <div class='row'>
      {{#each this.emptyList as |colItem col|}}
        <Square
          @c={{col}}
          @r={{row}}
          @orientation={{@orientation}}
          @selectedSquare={{this.selectedSquare}}
          @select={{fn (mut this.selectedSquare)}}
        />
      {{/each}}
    </div>
  {{/each}}
</div>