<div class='board'>
  {{#each this.emptyList as |rowItem row|}}
    <div class='row'>
      {{#each this.emptyList as |colItem col|}}
        <Square
          @c={{col}}
          @r={{row}}
          @orientation={{@orientation}}
          @selectedSquare={{this.selectedSquare}}
          @select={{fn (mut this.selectedSquare)}}
        >
          {{#let (this.getPiece row col) as |piece|}}
            {{#if piece}}
              <Piece @type={{get piece 'type'}} @color={{get piece 'color'}} />
            {{/if}}
          {{/let}}
        </Square>
      {{/each}}
    </div>
  {{/each}}
</div>