<button
  class='square {{if this.isSelected "selected"}}'
  type='button'
  {{style backgroundColor=this.bgColor}}
  {{on 'click' (fn @select this.square)}}
  {{on 'mouseover' (fn @onHover this.square)}}
  {{on 'mouseleave' @onHoverOut}}
>
  {{yield (hash square=this.square color=this.color)}}

  {{#if this.isHighlighted}}
    <div class='highlighted'></div>
  {{/if}}
</button>