<button
  class='relative box-border flex justify-center items-center aspect-square
    {{if this.isSelected "border-2 border-cyan-400" "border-0"}}'
  type='button'
  {{style backgroundColor=this.bgColor}}
  {{on 'click' (fn @select this.square)}}
  {{on 'mouseover' (fn @onHover this.square)}}
  {{on 'mouseleave' @onHoverOut}}
>
  {{yield (hash square=this.square color=this.color)}}

  {{#if this.isHighlighted}}
    <div
      class='bg-cyan-400 absolute top-0 left-0 right-0 bottom-0 opacity-50'
    ></div>
  {{/if}}
</button>